# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Mac system files
.DS_Store

# Windows system files
Thumbs.db

# Logs
*.log

# Unit test / coverage reports
.coverage
htmlcov/
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env